## Programa Ingenias+ Data Science

In [251]:
#from google.colab import drive
#drive.mount('/content/drive')

# Sección nueva

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [10]:
import numpy as np
import pandas as pd

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [11]:
# Leo los datos en un DataFrame
expvida = pd.read_csv('C:/Users/danie/Documents/NOTEBOOKS/NOTEBOOKS RESUELTOS/Life Expectancy Data v2.csv')
print(expvida)

          Country  Year      Status  Life expectancy (men)  \
0     Afghanistan  2015  Developing                     70
1     Afghanistan  2014  Developing                     59
2     Afghanistan  2013  Developing                     79
3     Afghanistan  2012  Developing                     65
4     Afghanistan  2011  Developing                     76
...           ...   ...         ...                    ...
2933     Zimbabwe  2004  Developing                     67
2934     Zimbabwe  2003  Developing                     62
2935     Zimbabwe  2002  Developing                     50
2936     Zimbabwe  2001  Developing                     66
2937     Zimbabwe  2000  Developing                     55

      Life expectancy(women)  Adult Mortality (men)  Adult Mortality (women)  \
0                         66                     67                       65
1                         67                     73                       85
2                         51                     87                       67
3                         81                     63                       91
4                         75                     57                       72
...                      ...                    ...                      ...
2933                      69                     62                       85
2934                      75                     96                       61
2935                      74                     55                       95
2936                      66                     74                       78
2937                      76                     76                       98

      Infant deaths  Alcohol  Percentage expenditure  ...  Polio  \
0                62     0.01               71.279624  ...    6.0
1                64     0.01               73.523582  ...   58.0
2                66     0.01               73.219243  ...   62.0
3                69     0.01               78.184215  ...   67.0
4                71     0.01                7.097109  ...   68.0
...             ...      ...                     ...  ...    ...
2933             27     4.36                0.000000  ...   67.0
2934             26     4.06                0.000000  ...    7.0
2935             25     4.43                0.000000  ...   73.0
2936             25     1.72                0.000000  ...   76.0
2937             24     1.68                0.000000  ...   78.0

      Total expenditure  Diphtheria   HIV/AIDS         GDP  Population  \
0                  8.16         65.0       0.1  584.259210  33736494.0
1                  8.18         62.0       0.1  612.696514    327582.0
2                  8.13         64.0       0.1  631.744976  31731688.0
3                  8.52         67.0       0.1  669.959000   3696958.0
4                  7.87         68.0       0.1   63.537231   2978599.0
...                 ...          ...       ...         ...         ...
2933               7.13         65.0      33.6  454.366654  12777511.0
2934               6.52         68.0      36.7  453.351155  12633897.0
2935               6.53         71.0      39.8   57.348340    125525.0
2936               6.16         75.0      42.1  548.587312  12366165.0
2937               7.10         78.0      43.5  547.358878  12222251.0

      thinness  1-19 years  thinness 5-9 years  \
0                     17.2                17.3
1                     17.5                17.5
2                     17.7                17.7
3                     17.9                18.0
4                     18.2                18.2
...                    ...                 ...
2933                   9.4                 9.4
2934                   9.8                 9.9
2935                   1.2                 1.3
2936                   1.6                 1.7
2937                  11.0                11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 25 columns]

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [12]:
# Obtengo el tipo de estructura de datos
type(expvida)

pandas.core.frame.DataFrame

4) ¿Cuantas filas y columnas tiene `expvida`?

In [13]:
# Uso .shape para obtener cantidad de filas y columnas
expvida.shape 
print(f"Expvida tiene\n\nNumero de filas: {expvida.shape[0]}\n\nNumero de columnas: {expvida.shape[1]}")

Expvida tiene

Numero de filas: 2938

Numero de columnas: 25

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [14]:
# Obtengo el nombre de las columnas
expvida.columns

Index(['Country', 'Year', 'Status', 'Life expectancy (men)',
       'Life expectancy(women)', 'Adult Mortality (men)',
       'Adult Mortality (women)', 'Infant deaths', 'Alcohol',
       'Percentage expenditure', 'Hepatitis B(men)', 'Hepatitis B(women)',
       'Measles', 'BMI', 'Under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria ', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [15]:
# Inspecciono las primeras filas
expvida.head(10)

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,70,66,67,65,62,0.01,71.279624,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59,67,73,85,64,0.01,73.523582,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,79,51,87,67,66,0.01,73.219243,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,65,81,63,91,69,0.01,78.184215,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,76,75,57,72,71,0.01,7.097109,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,51,77,71,57,74,0.01,79.679367,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,77,67,84,100,77,0.01,56.762217,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,65,60,99,92,80,0.03,25.873925,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,64,56,90,77,82,0.02,10.910156,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,78,65,85,54,84,0.03,17.171518,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 ultimas.

In [16]:
# Inspecciono las ultimas filas
expvida.tail(10)

,Country,Year,Status,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,56,69,65,91,30,4.64,1.040021,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,71,54,51,94,30,3.56,20.843429,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,59,53,57,86,29,3.88,29.814566,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,53,74,57,92,28,4.57,34.262169,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,52,84,50,82,28,4.14,8.717409,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,67,69,62,85,27,4.36,0.000000,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,62,75,96,61,26,4.06,0.000000,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,50,74,55,95,25,4.43,0.000000,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,66,66,74,78,25,1.72,0.000000,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,55,76,76,98,24,1.68,0.000000,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [17]:
# Tipo de datos en cada columna
expvida.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy (men)                int64
Life expectancy(women)               int64
Adult Mortality (men)                int64
Adult Mortality (women)              int64
Infant deaths                        int64
Alcohol                            float64
Percentage expenditure             float64
Hepatitis B(men)                     int64
Hepatitis B(women)                   int64
Measles                              int64
BMI                                float64
Under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
HIV/AIDS                           float64
GDP                                float64
Population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [10]:
#Obtengo la cantidad de datos faltantes en cada columna
expvida.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy (men)                0
Life expectancy(women)               0
Adult Mortality (men)                0
Adult Mortality (women)              0
Infant deaths                        0
Alcohol                            194
Percentage expenditure               0
Hepatitis B(men)                     0
Hepatitis B(women)                   0
Measles                              0
BMI                                 34
Under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [11]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
masnan = expvida.isnull().sum().max()
print(f"El valor máximo de datos faltantes es {masnan}")

El valor máximo de datos faltantes es 652

In [12]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100

filas_total=expvida.shape[0]

porcentaje = (masnan / filas_total) * 100

print(f"El porcentaje de filas nulas es igual a {porcentaje:.2f} %")

El porcentaje de filas nulas es igual a 22.19 %

In [13]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.

print(f"El porcentaje máximo de filas nulas es igual a {porcentaje:.2f} %")

El porcentaje máximo de filas nulas es igual a 22.19 %

In [18]:
expvida.describe()

,Year,Life expectancy (men),Life expectancy(women),Adult Mortality (men),Adult Mortality (women),Infant deaths,Alcohol,Percentage expenditure,Hepatitis B(men),Hepatitis B(women),...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2744.000000,2938.000000,2938.000000,2938.000000,...,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,67.710007,67.629340,74.732811,74.558203,30.303948,4.602861,738.251295,46.011572,46.469707,...,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,10.346219,10.325241,14.728866,14.682064,117.926501,4.052413,1987.914858,16.558741,16.891266,...,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,50.000000,50.000000,50.000000,50.000000,0.000000,0.010000,0.000000,18.000000,18.000000,...,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,59.000000,59.000000,62.000000,62.000000,0.000000,0.877500,4.685343,31.000000,32.000000,...,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,68.000000,67.500000,74.500000,74.000000,3.000000,3.755000,64.912906,46.000000,46.000000,...,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,77.000000,76.000000,87.000000,87.000000,22.000000,7.702500,441.534144,60.000000,61.000000,...,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,85.000000,85.000000,100.000000,100.000000,1800.000000,17.870000,19479.911610,75.000000,75.000000,...,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

> Agregar bloque entrecomillado

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [21]:
# Renombro columnas del DataFrame
expvida = expvida.rename(columns={'Life expectancy(women)': 'life expectancy(women)', 'BMI': 'bmi', 'Measles': 'measles'})

In [22]:
# Chequeo que se hayan reemplazado correctamente
print(expvida.columns.tolist())

['Country', 'Year', 'Status', 'Life expectancy (men)', 'life expectancy(women)', 'Adult Mortality (men)', 'Adult Mortality (women)', 'Infant deaths', 'Alcohol', 'Percentage expenditure', 'Hepatitis B(men)', 'Hepatitis B(women)', 'measles', 'bmi', 'Under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria ', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years', 'thinness 5-9 years', 'Income composition of resources', 'Schooling']

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [23]:
# Obtengo el promedio de la columna
promedio = expvida['life expectancy(women)'].mean()

# Imprimir el promedio con 2 decimales
print(f"El promedio de life expectancy(women) es: {promedio:.2f}")

El promedio de life expectancy(women) es: 67.63

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [24]:
# Obtengo el promedio por pais
# Agrupar por país y calcular el promedio de expectativa de vida por país
promedio_por_pais = expvida.groupby('Country')['life expectancy(women)'].mean()
print(promedio_por_pais)

Country
Afghanistan                           65.2500
Albania                               67.5625
Algeria                               66.6250
Angola                                67.0625
Antigua and Barbuda                   71.3750
                                       ...
Venezuela (Bolivarian Republic of)    70.0000
Viet Nam                              68.8750
Yemen                                 67.6250
Zambia                                70.5000
Zimbabwe                              69.4375
Name: life expectancy(women), Length: 193, dtype: float64

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [25]:
# Maxima expectativa de vida usando numpy
import numpy as np
max_vida_numpy = np.max(expvida['life expectancy(women)'])
print(f"Máxima expectativa women de vida con NumPy: {max_vida_numpy}")

Máxima expectativa women de vida con NumPy: 85

In [26]:
# Maxima expectativa de vida usando pandas
max_vida_pandas = expvida['life expectancy(women)'].max()
print(f"Máxima expectativa de vida con Pandas: {max_vida_pandas}")

Máxima expectativa de vida con Pandas: 85

In [27]:
# Minima expectativa de vida usando numpy
min_vida_numpy = np.min(expvida['life expectancy(women)'])
print(f"Mínima expectativa de vida con NumPy: {min_vida_numpy}")

Mínima expectativa de vida con NumPy: 50

In [28]:
# Minima expectativa de vida usando pandas
min_vida_pandas = expvida['life expectancy(women)'].min()
print(f"Mínima expectativa de vida con Pandas: {min_vida_pandas}")

Mínima expectativa de vida con Pandas: 50

In [29]:
# Muestro los resultados maximos
paises_max = expvida[expvida['life expectancy(women)'] == max_vida_pandas]['Country'].unique()
print(f"País(es) con la máxima expectativa de vida: {paises_max}")

País(es) con la máxima expectativa de vida: ['Albania' 'Argentina' 'Austria' 'Azerbaijan' 'Bangladesh' 'Belize'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Cambodia' 'Canada' 'Chad' 'Colombia' 'Comoros' 'Congo' 'Croatia' 'Cuba'
 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Gabon' 'Georgia'
 'Guinea-Bissau' 'Guyana' 'Honduras' 'Iceland' 'Iraq' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kiribati'
 "Lao People's Democratic Republic" 'Lithuania' 'Madagascar' 'Mozambique'
 'Myanmar' 'Nepal' 'Netherlands' 'New Zealand' 'Nigeria' 'Norway' 'Oman'
 'Pakistan' 'Paraguay' 'Poland' 'Portugal' 'Qatar' 'Russian Federation'
 'Rwanda' 'Saint Kitts and Nevis' 'Serbia' 'Seychelles' 'Singapore'
 'Solomon Islands' 'Somalia' 'South Sudan' 'Spain' 'Sweden' 'Switzerland'
 'Thailand' 'The former Yugoslav republic of Macedonia'
 'Trinidad and Tobago' 'Turkey' 'Uganda' 'Viet Nam']

In [30]:
# Muestro los resultados minimos
paises_min = expvida[expvida['life expectancy(women)'] == min_vida_pandas]['Country'].unique()
print(f"País(es) con la mínima expectativa de vida: {paises_min}")

País(es) con la mínima expectativa de vida: ['Armenia' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Belarus' 'Brazil'
 'Brunei Darussalam' 'Burkina Faso' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Czechia'
 'Democratic Republic of the Congo' 'Denmark' 'Equatorial Guinea' 'France'
 'Gambia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guinea'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Kenya' 'Kuwait' 'Lesotho'
 'Malawi' 'Mali' 'Malta' 'Micronesia (Federated States of)' 'Niue' 'Oman'
 'Papua New Guinea' 'Paraguay' 'Poland' 'Qatar' 'Republic of Moldova'
 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Slovakia' 'Somalia' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Tajikistan' 'The former Yugoslav republic of Macedonia' 'Turkey'
 'Turkmenistan' 'Uganda' 'United Arab Emirates'
 'United Republic of Tanzania' 'Uzbekistan' 'Yemen']

In [32]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo
# Filtro las filas con la expectativa de vida igual al valor máximo
filas_max = expvida[expvida['life expectancy(women)'] == max_vida_numpy]

# Muestro las filas filtradas
print(filas_max)

                  Country  Year      Status  Life expectancy (men)  \
29                Albania  2002  Developing                     76
89              Argentina  2006  Developing                     74
130               Austria  2013   Developed                     69
151            Azerbaijan  2008  Developing                     57
204            Bangladesh  2003  Developing                     58
...                   ...   ...         ...                    ...
2650  Trinidad and Tobago  2014  Developing                     50
2661  Trinidad and Tobago  2003  Developing                     80
2696               Turkey  2000  Developing                     79
2718               Uganda  2011  Developing                     80
2877             Viet Nam  2012  Developing                     54

      life expectancy(women)  Adult Mortality (men)  Adult Mortality (women)  \
29                        85                     57                       55
89                        85                     94                       70
130                       85                     82                       88
151                       85                     80                       63
204                       85                     82                       61
...                      ...                    ...                      ...
2650                      85                     55                       52
2661                      85                     67                       61
2696                      85                     66                       67
2718                      85                     58                       87
2877                      85                     85                       59

      Infant deaths  Alcohol  Percentage expenditure  ...  Polio  \
29                1     3.73              104.516916  ...   98.0
89               11     7.75              961.177468  ...   92.0
130               0    11.82               90.585012  ...   95.0
151               6     1.18              206.261613  ...   85.0
204             196     0.01               35.484590  ...    9.0
...             ...      ...                     ...  ...    ...
2650              0     6.94             1578.872339  ...   94.0
2661              0     5.53               78.722161  ...   91.0
2696             44     1.54              421.295660  ...   85.0
2718             76    10.22               94.496868  ...   82.0
2877             29     4.12                0.000000  ...   97.0

      Total expenditure  Diphtheria   HIV/AIDS           GDP  Population  \
29                 6.30         98.0       0.1   1453.642777      3511.0
89                 6.68         91.0       0.1   5878.761270   3955889.0
130               11.14         95.0       0.1    554.715320   8479375.0
151                4.37         81.0       0.1   5574.638200     87634.0
204                2.51         87.0       0.1    432.738897    139191.0
...                 ...          ...       ...           ...         ...
2650               5.93         92.0       0.3  19325.242830   1354493.0
2661               5.13         91.0       0.5    884.518666    128452.0
2696               4.95         85.0       0.1   4316.553895   6324121.0
2718               9.90         82.0       6.8    584.396214   3593648.0
2877               6.96         97.0       0.1           NaN         NaN

      thinness  1-19 years  thinness 5-9 years  \
29                     2.0                 2.1
89                     1.1                 0.9
130                    1.8                 2.0
151                    2.8                 2.9
204                    2.3                 2.9
...                    ...                 ...
2650                   5.8                 6.0
2661                   6.4                 6.9
2696                   5.3                 5.2
2718                   5.9                 5.9
2877                  14.4                15.0

      Income composition of resources  Schooling
29                              0.670       10.7
89                              0.782       16.1
130                             0.887       15.7
151                             0.719       11.6
204                             0.484        7.9
...                               ...        ...
2650                            0.778       12.7
2661                            0.729       12.0
2696                            0.641       10.7
2718                            0.477       10.7
2877                            0.662       12.2

[76 rows x 25 columns]

In [33]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo
#sin que tome NaN
min_vida_numpy = np.min(expvida['life expectancy(women)'].dropna())

filas_min = expvida[expvida['life expectancy(women)'] == min_vida_numpy]
paises_min_women = filas_min['Country'].unique()

print(f"Mínima expectativa de vida (women): {min_vida_numpy}")
print(f"País(es) con la mínima expectativa femenina de vida: {paises_min_women}")

Mínima expectativa de vida (women): 50
País(es) con la mínima expectativa femenina de vida: ['Armenia' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Belarus' 'Brazil'
 'Brunei Darussalam' 'Burkina Faso' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Czechia'
 'Democratic Republic of the Congo' 'Denmark' 'Equatorial Guinea' 'France'
 'Gambia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guinea'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Kenya' 'Kuwait' 'Lesotho'
 'Malawi' 'Mali' 'Malta' 'Micronesia (Federated States of)' 'Niue' 'Oman'
 'Papua New Guinea' 'Paraguay' 'Poland' 'Qatar' 'Republic of Moldova'
 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Slovakia' 'Somalia' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Tajikistan' 'The former Yugoslav republic of Macedonia' 'Turkey'
 'Turkmenistan' 'Uganda' 'United Arab Emirates'
 'United Republic of Tanzania' 'Uzbekistan' 'Yemen']

\15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [34]:
# Obtengo los valores unicos de la columna status
categorias_status = expvida['Status'].unique()
print(f"Categorías únicas en 'Status': {categorias_status}")

# Cuento cuántas categorías hay
cantidad_categorias = len(categorias_status)
print(f"Cantidad de categorías en 'Status': {cantidad_categorias}")

Categorías únicas en 'Status': ['Developing' 'Developed']
Cantidad de categorías en 'Status': 2

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [35]:
# Cuento cuantos valores hay de cada categoria
# Cuenta cuántas filas hay por categoría de Status
conteo_filas = expvida['Status'].value_counts()
print("Cantidad de filas por Status:")
print(conteo_filas)

Cantidad de filas por Status:
Status
Developing    2426
Developed      512
Name: count, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [36]:
# Cuento cuantas filas tienen valores distintos de cero
# Filtro filas del año 2015 y con casos de sarampión > 0
measles_2015 = expvida[(expvida['Year'] == 2015) & (expvida['measles'] > 0)]

# Cuento cuántos países únicos presentaron casos
paises_con_measles = measles_2015['Country'].nunique()

print(f"Cantidad de países que presentaron casos de sarampión en 2015: {paises_con_measles}")

Cantidad de países que presentaron casos de sarampión en 2015: 121

In [37]:
print(measles_2015['Country'].unique())

['Afghanistan' 'Algeria' 'Angola' 'Armenia' 'Australia' 'Austria'
 'Bangladesh' 'Belarus' 'Belgium' 'Benin' 'Bhutan'
 'Bosnia and Herzegovina' 'Brazil' 'Brunei Darussalam' 'Burkina Faso'
 'Burundi' "Côte d'Ivoire" 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Congo' 'Croatia' 'Czechia'
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Egypt'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guinea'
 'Guinea-Bissau' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' "Lao People's Democratic Republic" 'Lebanon' 'Liberia'
 'Libya' 'Lithuania' 'Madagascar' 'Malaysia' 'Mali' 'Malta' 'Mauritania'
 'Mongolia' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Niger' 'Nigeria' 'Norway' 'Pakistan'
 'Papua New Guinea' 'Peru' 'Philippines' 'Portugal' 'Qatar'
 'Republic of Korea' 'Romania' 'Russian Federation' 'Rwanda'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Slovakia' 'Slovenia'
 'Somalia' 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav republic of Macedonia' 'Timor-Leste' 'Togo'
 'Tunisia' 'Turkey' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uzbekistan'
 'Vanuatu' 'Viet Nam' 'Yemen' 'Zambia']